.App {
  text-align: center;
  font-size: $font-size-normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $font-size-large;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-icons {
  display: flex;
  margin: 0 2rem;
  * {
    margin: 0 2rem;
  }
}

.button-app {
  margin-top: 2rem !important;
  font-size: 1.4rem !important;
  min-width: 20rem !important;
  min-height: 4rem;
}

.code-app {
  transition: all 0.2s;
  &:hover {
    font-size: 3rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
